:root{
    --background-color-1: #FFD0A7;
    --background-color-2: #FFA453;
}

.header-section{
    background: linear-gradient(180deg, var(--background-color-1), var(--background-color-2));
}
.background{
    background-image: url("../images/back\ burger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.review-box-abs{
    transform: rotate(8deg);
}
.header-learn-more {
    color: var(--text-sub-heading);
    text-decoration: none;
    font-weight: 600;
}
.hot-tittle{
    font-size: 35px;
    font-weight: 700;
    color: #FFA453;
    text-transform: uppercase;
}

.bur-img-1 {
    background-image: url("../images/background\ image.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.bur-deal {
    background-image: url("../images/background\ image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.bur-bg {
    background-image: url("../images/background\ image.png");
}

.banner{
    background-image: url(../images/backgroung.png);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: white;
    
}
.about{
    background: linear-gradient(to bottom, #FFD0A7, #FFA453);
    padding: 60px 0;
    color: white;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.image-box{
    background-color: #FF6947;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
}
.how-bg{
    background: linear-gradient(to right, #FFD0A7, #FFA453);
}
.icon-box{
    width: 70px;
    height: 70px;
    background: #ff5b3d;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.card-box{
    padding-top: 50px;
    border-radius: 20px;
    
}
.testimonial-section{
    background: linear-gradient(45deg, #FFA453, #FFD0A7);
}
.text-title{
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}
.test-card{
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.quote-icon{
    color: #FFA453;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer{
    background: linear-gradient(to right, #d92e2e, #ff7a18);
}
.footer h3, footer h4 {
    font-weight: bold;
}
footer ul li{
    margin-bottom: 6px;
    cursor: pointer;
}
.footer ul li:hover{
    text-decoration: underline;
}
.input-group input{
    border-radius: 5px 0 0 5px;
}
.input-group button{
    border-radius: 0 5px 5px 0;
    font-size: 18px;
}
footer p{
    opacity: 0.9;
    font-size: 14px;
}